POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=replace-me

WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=replace-me
WORDPRESS_DB_HOST=wordpress-db:3306

MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=replace-me
MYSQL_ROOT_PASSWORD=replace-me

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=replace-me
RABBITMQ_USER=admin
RABBITMQ_PASS=replace-me
RABBITMQ_PASSWORD=replace-me
RABBITMQ_PORT=5672
RABBITMQ_EXCHANGE=product.events

ODOO_DB=odoo
ODOO_URL=http://odoo:8069
ODOO_USERNAME=admin
ODOO_PASSWORD=replace-me

WORDPRESS_URL=http://wordpress
WORDPRESS_SYNC_ENDPOINT=http://wordpress/?rest_route=/product-sync/v1/odoo-product-event
WORDPRESS_SYNC_TOKEN=replace-me

INTEGRATION_SECRET=replace-me-with-strong-secret
INTEGRATION_HTTP_TOKEN=replace-me-with-strong-token
